sample/mnist/*
sample/download_mnist.py
sample/out.log
sample/torchFOAM
dynSmagSGS/dynSmagSGS.so
dynSmagCase/processor*
dynSmagCase/postProces*
dynSmagCase/dynamic*
dynSmagCase/1*
dynSmagCase/2*
dynSmagCase/3*
dynSmagCase/4*
dynSmagCase/5*
dynSmagCase/6*
dynSmagCase/7*
dynSmagCase/8*
dynSmagCase/9*
dynSmagCase/casec_log.out
nnCase/processor*
nnCase/postProces*
nnCase/dynamic*
nnCase/1*
nnCase/2*
nnCase/3*
nnCase/4*
nnCase/5*
nnCase/6*
nnCase/7*
nnCase/8*
nnCase/9*
nnCase/casec_log.out
tfoamEnv/
datasetGen/*.npy
datasetGen/.dataset*
*/core.*
nnTraining/nnTraining
nnTraining/nnTraining_*
nnTraining/*.pt
nnTraining/*.log
nnTraining/*.dat
smagCase*
_Dockerfile