datasetGen/*.txt
datasetGen/*.npy
datasetGen/Archive
sample/mnist/*
sample/download_mnist.py
sample/out.log
sample/torchFOAM
*/constant/polyMesh
*/processor*
*/postProces*
*/dynamic*
*/1*
*/2*
*/3*
*/4*
*/5*
*/6*
*/7*
*/8*
*/9*
*/casec_log.out
tfoamEnv/
*/*.npy
*/.dataset*
*/core.*
nnTraining/nnTraining
nnTraining/nnTraining_*
nnTraining/*.pt
nnTraining/*.log
nnTraining/*.dat
nnTraining/*/*.png
smagCase*
_Dockerfile
*/Make/lin*
*/Archive
*/*.out
*/*.pt
*/*.log
*/*.txt
*/*.dat
*/.ipynb_*
*/*.png
*/lnInclude
*/datasets
*/*/*.txt
*/*/*.npy
*/fieldData
*/fieldData_unseen
Analysis/**/*.png
*/*/*.png
*/*.json
*.json
